<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HCL</title>
    <link rel="icon" href="static\css\icon.svg"/>
<link rel="stylesheet"  type="text/css" href= "static\css\home.css">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<meta name="viewport" content="width=device-width", initial-scale=1.0">
</head>
<body style="background-color:black;color:white">

<canvas id="chart" width=1500% height="400"></canvas>
<script>
    var ctx= document.getElementById("chart").getContext("2d");
    var chart = new Chart(ctx, {
    type: "line",
    data: {
            labels: {{ labels | safe }},
            datasets: [
            {
                label: "Data Points",
                data: {{ values | safe }},
                fill:false,
                borderColor: "rgb(75, 192, 192)",
                lineTension: 0.1
            }
      ]
      },
      options: {
<!--      responsive: false-->
      }
     });

</script>


</body>
</html>